Package: nagentd
Version: 1.0.0
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert McLeod <robert@penguinpower.co.nz>
Essential: no
Homepage: https://github.com/penguinpowernz/nagent
Installed-Size: 
Description: This is a description
  This is a longer description
  that takes up multiple lines
